altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
idna==3.10
importlib-metadata==8.5.0
packaging==24.1
pefile==2023.2.7
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-sip==12.15.0
pywin32-ctypes==0.2.3
requests==2.32.3
tqdm==4.66.5
urllib3==2.2.3
zipp==3.20.2
